body
{
    color: #646464;
}

.navigation
{

    height: 100px;
    background: white;
    z-index: 1000;
    width: 100%;

}

.banner-module
{

    height: 200px;
}


.navigation-block
{
    margin-top: 0px;
    margin-bottom: 0px;
}

.navigation-logo
{
    width: auto;
    height: auto;
}


.navigation-text-container
{
    background-color: #00000080;
}
.navigation-title
{
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 20px;
}


.website_name
{
    font-size: 30px;
    font-weight: bold;
    line-height: 0.75em;
}

.website_subname
{
    font-size: 18px;
    font-style: italic;
}




@media (min-width: 576px) and (max-width: 767px)
{

    .navigation
    {
        height: 100px;
    }

    .navigation-title
    {
        font-size: 30px;
    }


}


@media (max-width: 576px)
{


    .navigation
    {
        height: 60px;
    }

    .navigation-title
    {
        font-size: 10px;
        padding: 4px;
    }


    .website_name
    {
        font-size: 15px;
        font-weight: bold;
    }

    .website_subname
    {
        font-size: 10px;
        font-style: italic;
    }

    img.navigation-logo
    {
        width: 50px;
        height: auto;
    }



}


/* MENUS PRINCIPALES */

.menu-root
{
    background-color: transparent;
    color: #f85b5b;
    /*border-bottom: 3px solid transparent;*/
    padding: 8px;
    margin: 4px;
    margin-bottom:0px;
    font-weight: bold;
    cursor:pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 4px;
}

.menu-root:hover
{
    background-color: #f85b5b;
    color: white;
    /*border-bottom: 3px solid #f85b5b;*/
    margin: 4px;
    margin-bottom:0px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu-root.active
{
    /*border-bottom: 3px solid red;*/
    background-color: #f85b5b;
    color: white;
}

.menu-vertical
{
    background-color: transparent;
    color: #f85b5b;
    padding: 8px;
    margin: 4px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu-vertical:hover
{
    background-color: #f85b5b;
    color: white;
    padding: 8px;
    margin: 4px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 4px;
}

.advertisementimage
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100%;
    transition: all 500ms ease;
    cursor: pointer;
    height: 20rem;
}

.advertisementimage:hover
{
    background-size: 120%;
    transition: all 500ms ease;
}

.newsimage
{
    width: 150px;
    min-width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100%;
    transition: all 500ms ease;
    cursor: pointer;
}


.newsimage:hover
{
    background-size: 120%;
    transition: all 500ms ease;
}


.sectionimage
{
    max-width: 700px;
    height: auto;
    cursor: pointer;
}


.googlemap
{
    width: 600px;
    height: 600px;
    padding: 0px;
    border: 1px solid #e76c6c;
    border-radius: 10px;
}


