/* MENUS PRINCIPALES */

.menu-root
{
    background-color: transparent;
    color: #f85b5b;
    /*border-bottom: 3px solid transparent;*/
    padding: 8px;
    margin: 4px;
    margin-bottom:0px;
    font-weight: bold;
    cursor:pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 4px;
}

.menu-root:hover
{
    background-color: #f85b5b;
    color: white;
    /*border-bottom: 3px solid #f85b5b;*/
    margin: 4px;
    margin-bottom:0px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu-root.active
{
    /*border-bottom: 3px solid red;*/
    background-color: #f85b5b;
    color: white;
}

.menu-vertical
{
    background-color: transparent;
    color: #f85b5b;
    padding: 8px;
    margin: 4px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu-vertical:hover
{
    background-color: #f85b5b;
    color: white;
    padding: 8px;
    margin: 4px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 4px;
}
