.advertisementimage
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100%;
    transition: all 500ms ease;
    cursor: pointer;
    height: 20rem;
}

.advertisementimage:hover
{
    background-size: 150%;
    transition: all 500ms ease;
}


